.textik {
  font-size: 100px;
  font-family: fantasy;
  color: darkblue;
  margin-left: 100px;
  margin-right: 100px;
}
.my-card {
  background-color: tomato;
  border: 1px lightseagreen;
  padding: 20px;
}
